/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*fundo, imagens e texto*/
body{
    background-position: center;
    background-size: 100% 100%;  
    min-height: 100vh;
    margin: 0;
    font-family: Poppins;
    color: #360000;
    background-color: #4b4b4b;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #b1050517 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #b1050517 150px 151px
    ),
    linear-gradient(to right, #ff4e4e8a, #ffddddcc),
    url(images/bg.jpg);
}
*{
    padding: 0;
    margin: 0;
}
header{
    width: min(1200px, 90vw);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 0px;
    flex-wrap: wrap;
}
header h1{
    font-family: "Karantina", system-ui;
    font-size: 10vw; /*tenho um pouco de dificuldade de lidar com os diferentes tipos de medidas*/
    line-height: 0.8em;
}
header .author{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
header h3{
    font-family: "Karantina", system-ui;
    font-size: 5vw;
}
header .author div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .author div p:nth-child(2){
    font-weight: 500;
}

header .author img{
    width: 250px;
}
.banner{
    margin-top: -50px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.product{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 170px;
    z-index: 2; /*ordem de empilhamento, para o produto ficar acima de outros elementos.*/
    width: 500px;
    transition: 0.7s;
}
.product .soda{
    position: absolute; /*nesse caso a soda fica acima do produto */
    bottom: 0;
    left: calc(50%); /*calc para o elemento ficar na horizontal*/
    transform: translateX(-50%); /*para ficar no meio*/
}
.soda{
    --left: 0px;
    background: 
        var(--url) var(--left),
        url(images/mockup.png) 0 0; /*definir as duas imagens controlando a posição*/
    background-size: auto 100%; /*ela fica 100% a altura e largura com a do fundo*/
    width: 280px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply; /*faz que o plano de fundo se misture com a imagem, para criar efeitos visuais*/
    transition: 0.8s;
    mask-image: url(images/mockup.png); /*recorta a imagem para ficarem no mesmo formato*/
    mask-size: auto 100%;
}
/*efeitos de movimento*/
.soda:nth-child(2){
    opacity: 0;
}
.product:hover{
    bottom: 300px;
}
.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 500px;
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 500px;
}

/*pedras e os efeitosd*/
.rock{
    position: absolute;
    inset: 0 0 0 0; /*preenche os espaços em todas as direções*/
    width: 100%;
    pointer-events: none; /*Desativa interações do mouse com as pedras*/
}
.rock img:nth-child(1){
    position: absolute;
    height: 170px;
    left: 50%;
    transform: translateX(-50%); /*move a imagem horizontalmente em 50% da sua própria largura para a esquerda*/
    bottom: 30px;/*distância entre a pedra do meio e a lata*/
    transition: 0.7s;
    z-index: 1; /*1 para ficar embaixo da soda*/
}
.rock img:nth-child(2){
    position: absolute;
    height: 50%;
    left: 0;
    bottom: 0;
    transition: 0.7s;
}
.rock img:nth-child(3){
    position: absolute;
    height: 100%;
    right: 0;
    bottom: -100px;
    rotate: -25deg; /*rotação das imagens*/
    transition: 0.7s;
}

/*efeito de deslocamento*/
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px); /*baixo, centro e cima*/
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px); /*esquerda e cima*/
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(100px) translateY(100px); /*direita e cima*/
}

/*responsividade*/
@media screen and (max-width: 1023px) {
    
    .soda{
        width: 400px;   /*Aumenta a largura da .soda para 400px em telas menores que 1023px.*/
    }
}
@media screen and (max-width: 767px) {
    .soda{
        width: 250px;
    }
    header img{
        display: none;
    }
    header .author{
        width: 100%;
    }

}

/*
width: 250px;: diminui de tamanho para 250px em telas menores.
header img { display: none; }: o header é escondida.
header .author { width: 100%; }: A largura da seção author no cabeçalho é ajustada para 100%.
*/